# Whether debug information about Denizen should appear in the
# server console

Debug:
  Show: true
  Console width: 60

Scripts:
  World:
    Events:
      On player chats:
        Use asynchronous event: true
      On time changes:
        Frequency of check: 250t
  Queue speed: 0.5s
  Load scripts in subfolders: true

# The default options for new Denizens

Traits:
  Health:
    Enabled: false
    Respawn:
      Enabled: true
      Delay: 10s
    Animated death:
      Enabled: true

Triggers:
  Chat:
    Enabled: true
    Use asynchronous event: true
    Cooldown: 2s
    Range: 3
    Overhearing range: 4
    Prerequisites:
      Must be looking in direction of NPC: true
      Must be able to see NPC: true
    Formats:
      Player to NPC: "You -> <npc.name.nickname>: <text>"
      Player to NPC overheard: "<player.name> -> <npc.name.nickname>: <text>"
    Appears globally:
      If triggers missing: true
      If triggers failed: false
      If NPC uninteractable: true
  Click:
    Enabled: true
    Cooldown: 2s
    Allows left click: false
  Damage:
    Enabled: false
    Cooldown: 0.5s
  Proximity:
    Enabled: false
    Cooldown: 1s
    Range: 10

Commands:
  Engage:
    Timeout: 150s

# The version of this configuration file, used to check if your
# configuration file is outdated or too new

Config:
  Version: 4
